.main {
  display: flex;
  justify-content: center;
  margin-block-start: 28px;
}

.cabinet {
  background: center / cover no-repeat url("../images/cabinet.png");
  inline-size: 211.37px;
  block-size: 431.35px;
  position: relative;
}

.cabinet__container {
  inline-size: 100%;
  block-size: 100%;
  position: relative;
  z-index: 0;
}

.product {
  position: absolute;
  cursor: pointer;
  transition: scale 0.2s ease-in-out;
  transform-origin: bottom;
}

.product_hidden {
  display: none;
}

.product_in-basket {
  /* scale: 1.25; */
  /* z-index: -1; */
}

.product__wine {
  inset-inline-start: 22px;
  inset-block-start: -2px;
}

.product__milk {
  inset-inline-start: 63px;
  inset-block-start: 31px;
}

.product__jam {
  inset-inline-start: 103px;
  inset-block-start: 79px;
}

.product__cheese {
  inset-inline-start: 158px;
  inset-block-start: 89px;
}

.product__meat {
  inset-inline-start: 7px;
  inset-block-start: 167px;
}

.product__leg {
  inset-inline-start: 58px;
  inset-block-start: 169px;
}

.product__pocket {
  inset-inline-start: 129px;
  inset-block-start: 176px;
}

.product__pineapple {
  inset-inline-start: 14px;
  inset-block-start: 237px;
}

.product__banana {
  inset-inline-start: 58px;
  inset-block-start: 265px;
}

.product__apple {
  inset-inline-start: 115px;
  inset-block-start: 276px;
}

.product__leaf {
  inset-inline-start: 155px;
  inset-block-start: 268px;
}

.basket {
  position: absolute;
  inset-inline-start: -32px;
  inset-block-start: calc(100% - 88px);
  object-fit: cover;
}

.basket__container {
  /* background-color: rgba(255 0 0 / 0.5); */
  inline-size: 190px;
  block-size: 150px;
  /* border: 1px solid red; */
  position: absolute;
  inset-inline-end: 24px;
  inset-block-end: 50px;
}

.basket__button {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  border-radius: 16px;
  inline-size: 174px;
  block-size: 56px;
  background-color: #fce000;
  padding: 19px 18px 20px 18px;
  cursor: pointer;
  position: absolute;
  inset-inline-start: 51px;
  inset-block-end: 23px;
  text-align: center;
  transition: opacity 0.2s linear;

}

.basket__button_hidden {
  opacity: 0;
}
